nav.col-sm-3.col-md-2.hidden-xs-down.bg-faded.sidebar
    ul.nav.nav-pills.flex-column
        li.nav-item
            a.nav-link(href='/' class=(menu === 'Home' ? 'active' : '')) Home
        li.nav-item
            a.nav-link(href='/serviceRequests' class=(menu === 'Requests' ? 'active' : '')) Requests
        li.nav-item
            a.nav-link(href='/map' class=(menu === 'Map' ? 'active' : '')) Map

