extends layout.jade
block content
    form(action="register" method="post")
        label() User Information:
        input(type="text" placeholder='first name' name="first_name")
        input(type="text" placeholder='last name' name="last_name")
        input(type="email" placeholder='email address' name="email")
        input(type="submit")