body {
    padding: 70px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.img {
    height: 100px;
    background-color: #ddd
}

.img[class] {
    width: 100px
}

.object-fit_fill {
    object-fit: fill
}

.object-fit_contain {
    object-fit: contain
}

.object-fit_cover {
    object-fit: cover
}

.object-fit_none {
    object-fit: none
}

.object-fit_scale-down {
    object-fit: scale-down
}


/* ALERTS */

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
}

.bar {
    fill: #406aa3;
}

.bar:hover {
    fill: red;
}
.axis--x path {
    display: none;
}
.toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}

.legend {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 60%;
}