body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.img {
    height: 100px;
    background-color: #ddd
}

.img[class] {
    width: 100px
}

.object-fit_fill {
    object-fit: fill
}

.object-fit_contain {
    object-fit: contain
}

.object-fit_cover {
    object-fit: cover
}

.object-fit_none {
    object-fit: none
}

.object-fit_scale-down {
    object-fit: scale-down
}